h1,h2,h3,h4,h5,h6 {
    text-shadow: 3px 3px #000000;
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#fff;
}

h1{
  font-size: 10vh;
}

p{
  font-family: serif;
	font-size: 3vh;
  color:#fff;
}

.qqsd{
  font-family: serif;
	background-color:#000000;
	background-image:url(../img/flashlight.png);
	background-repeat:no-repeat;
  background-size: 53vh 55vh;
	background-position:50% 50%;
}

html, body{
	height:100%;
}

.imageDiv img {
  position: relative;
    overflow: hidden;
    border-radius: 250px;
}


.imageReg {
    height: 25vh;
    -webkit-transition: all .5s ease;
    border-style: solid;
    display:inline-block;
}

.wide{
  width: 50vh;
}

.wide:hover{
  width:65vh;
}

.imageReg:hover {
    height:40vh;
}

.imageDiv {
    height:90%;
    width: 90%;
    margin: 0px auto;
    text-align:center;
}

.blackBackground{
  background-color: #1a1a1a;
}

.page{

}
