h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#fff;
}

h1{
  font-family: 'Oleo Script';
  font-size: 10vh;
  color:#000;
}

h2{
  text-shadow: -10px 10px #6f6f6f;
  font-family: 'Oleo Script';
  font-size: 30vh;
  color:#000;
  text-align: center;
}

p{
  font-family: serif;
	font-size: 3vh;
  color:#fff;
}

h5{
  font-size: 3em;
}

.qqsd{
  font-family: serif;
	background-color:#000000;
	background-image:url(../img/flashlight.png);
	background-repeat:no-repeat;
  background-size: 53vh 55vh;
	background-position:50% 50%;
}

.flag{
	background-image:url(../img/flagMain.jpg);
	background-repeat:no-repeat;
  background-size: 100% 100%;
}

.flag2{
	background-image:url(../img/flagMain2.jpg);
	background-repeat:no-repeat;
  background-size: 100% 100%;
}



.page{
  background-size: 100% 100%;
  background-image:url(../img/page.jpg);
}

.endPage{
  background-color: black;
}

html, body{
	height:100%;
}

.imageDiv img {
  position: relative;
    overflow: hidden;
    border-radius: 250px;
}


.imageReg {
    height: 25vh;
    -webkit-transition: all .5s ease;
    border-style: solid;
    display:inline-block;
}

.wide{
  width: 49vh;
}

.wide:hover{
  width:63vh;
}

.imageReg:hover {
    height:39vh;
}

.imageDiv {
    height:90%;
    width: 90%;
    margin: 0px auto;
    text-align:center;
}

.whiteBackground{
  background-color:#fff;
    text-align:center;
    position:relative;
}

.blackBackground{
  background-color: #000;
}

#magazine{
    width:110vh;
    height:85vh;
    position:absolute;
      z-index: 5;
      top: 3vh;
      left: 30vh;
      margin: 5vh;
}

#magazine1{
    width:110vh;
    height:85vh;
    position:absolute;
      z-index: 5;
      top: 3vh;
      left: 30vh;
      margin: 5vh;
}


.imgBook{
  width:100%;
  height:100%;
}


#magazine .turn-page{
    background-size:100% 100%;
}

.shelf{
  position:absolute;
  top: 70vh;
  z-index: 2;
   left:10vh;
  width: 90%;
  height: 10vh;
  box-shadow:  0vh 15vh 150px -20px #000;
}

#mydiv {
  top:0;
  display: none;
    width: 90%;
    height: 90%;
    overflow: hidden;
    position: absolute;
    z-index: 200;
}

#mydiv1 {
  top:0;
  display: none;
    width: 90%;
    height: 90%;
    overflow: hidden;
    position: absolute;
    z-index: 200;
}


#mydiv-container {
    margin-left: auto;
    margin-right: auto;
}
#mydiv-content {
    width: 90%;
}

.closeButton{
  position: absolute;
  top: 0vh;
  left: 150vh;
  display:block;
  width: 9em;
  height: 4em;
  margin: 1em;
  color: #000;
  background:#000;
  background: rgba(0,0,0, 0.5);
  -webkit-border-radius: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .8);
}

.bookImage{
    width:32vh;
    height:40vh;
    position:absolute;
    z-index: 3;
    top: 17vh;
    left: 10vh;
}

.bookImage2{
    width:32vh;
    height:40vh;
    position:absolute;
    z-index: 3;
    top: 17vh;
    left: 50vh;
}
